*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}
.footer{
    margin-top: 60px;
    float: left;
    width: 100%;
    display: flex;
    background-color: black;
    color: white;
}

.footer *{
    margin: 20px 60px;
}