*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}
.about{
    height: 80vh;
    width: 100%;
    display: flex;
}
.about .photo{
    width: 50%;
}
.about .photo img{
    height: 90%;
    margin: 4%;
    margin-left: 15%;
}
.about .info{
    width: 50%;
}
.about .info h2,p{
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: justify;
}
.about .info h2{
    margin-top: 20%;
}
.about .info button{
    letter-spacing: 2px;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgb(0, 183, 255);
    outline: none;
    margin-left: 20%;
}
.about .info button:hover{
    cursor: pointer;
}
.about .info button a{
    text-decoration: none;
}