*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}

.home{
    width: 100%;
    height: 80vh;
    display: flex;
}
.home .detail{
    width: 50%;
}
.home .detail table p{
    letter-spacing: 10px;
    width: 100%;
    white-space: nowrap;
    border-right: 5px solid;
    overflow: hidden;
    animation: 
        typing 4s infinite steps(13);
}

@keyframes typing{
    from{
        width: 0;
    }
}
.home .detail table{
    padding: 20%;
    padding-left: 30%;
}
.home .detail table tr td,th{
    padding: 10px;
    text-align: left;
}
.home .detail table tr p{
    margin: 0;
}
.home .photo img{
    padding: 30px;
    height: 70vh;
    padding-left: 60px;
}