*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}
.navbar{
    display: flex;
    height: 100px;
}
.navbar ul{
    display: flex;
    float: right;
    font-size: 18px;
    padding: 10px;
    margin-left: 20%;
}
.navbar ul * {
    padding: 30px;
    text-decoration: none
}
.navbar p{
    font-size: 40px;
    margin: 30px;
    margin-left: 10%;
}
.navbar p:hover{
    cursor: pointer;
}
.navbar p::first-letter {
    border: 7px rgb(0, 183, 255) solid;
    padding: 5px 10px;
    margin-right: 6px;
}
.navbar ul a:hover{
    border-bottom: 2px solid rgb(0, 183, 255);
    color: rgb(0, 183, 255);
    cursor: pointer;
}