*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    scroll-behavior: smooth;
}
.education div{
    display: flex;
}
.education div *{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.education .heading{
    width: 35%;
    margin-left: 36%;
    font-size: 20px;
}
.education .heading h1{
    border-bottom: rgb(0, 183, 255) solid 5px;
}
.education div h2{
    color: rgb(0, 183, 255);
}